@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76829387');
  src: url('../font/fontello.eot?76829387#iefix') format('embedded-opentype'), url('../font/fontello.woff2?76829387') format('woff2'), url('../font/fontello.woff?76829387') format('woff'), url('../font/fontello.ttf?76829387') format('truetype'), url('../font/fontello.svg?76829387#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}